<div class="register">
  <div>
    <form action="form-group">
      *ngIf = "!isSuccessful"
      name = "form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f = "ngForm"
      novalidate
      <div class="mb-6">
        <h1>Register</h1>
        <p>Create Account Here.</p>
        <hr />

        <label for="email"><b>Email</b></label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Email"
          name="email"
          id="email"
          required
        />

        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="psw"
          []
          id="psw"
          required
        />

        <p>
          By creating an account you agree to our
          <a href="#">Terms & Privacy</a>.
        </p>
        <button type="submit" class="registerbtn">Register</button>
      </div>

      <div class="container signin">
        <p>Already have an account? <a href="#">Sign in</a>.</p>
      </div>
    </form>
  </div>
</div>
