.section{
    background-image: url(../assets/images/pbg.avif);
    background-repeat: no-repeat;
    background-size: cover;

}

.content{
    text-align: center;
    font-style: italic;

}
.landing{
    text-align: center;
    text-decoration: aqua;

}

.navbar-nav{
    /* position: fixed; */
    top: 0;
    width: 100px;
    display: inline;
    text-align: center;
    /* float: right; */
    border: 1px solid #e7e7e7;
}
.nav-link{
    float: right;
    
}